<section class="phx-hero">
  <h1>Welcome to Busy Lights</h1>
  <p>Peace-of-mind from internal distractions</p>

  <button phx-click="red_button">Red</button>
  <button phx-click="yellow_button">Yellow</button>
  <button phx-click="green_button">Green</button>
  <button phx-click="blank_button">Blank</button>
</section>
